<div class="row">
  <%= form_for @resource do |f| %> <!-- form -->
  <div class="col-lg-3" id="post-form-left">
    <%= f.input :title, id: 'title' %>
    <%= f.input :slug, id: 'slug' %>
    <%= f.input :author %>
    <%= f.text_area :snippet %>
    <%= f.submit %>
  </div>
  <div class="col-lg-9" id="post-form-editor">
    <%= f.input :content, id: 'editor', rows: 20 %>
  </div>
  <% end %> <!-- end form -->
</div>
